
#baslik {
    color: red;
    text-align: center;
}
#sayi {
    text-align: center;
}
#container {
    margin: auto;
    width: 500px;
    height: 100px;
}
#arttir {
    width: 80px;
    height: 30px;
    margin-left: 165px;
}
#azalt {
    width: 80px;
    height: 30px;
}